// The following tool aws used to pick these colors:
// https://material.io/resources/color/#!/?view.left=0&view.right=0&primary.color=9E9D24&secondary.color=FBC02D

$color--primary: #166348;
$color--on-primary: white;

$color--primary-dark: #003820;
$color--on-primary-dark: white;

$color--primary-light: #499173;
$color--on-primary-light: black;

$color--secondary: #cb9651;
$color--on-secondary: black;

$color--secondary-dark: #976825;
$color--on-secondary-dark: white;

$color--secondary-light: #ffc77f;
$color--on-secondary-light: black;
