// The following tool aws used to pick these colors:
// https://material.io/resources/color/#!/?view.left=0&view.right=1&primary.color=53a6d2&secondary.color=727272

$color--primary: #53a6d2;
$color--on-primary: black;

$color--primary-dark: #0877a1;
$color--on-primary-dark: white;

$color--primary-light: #89d7ff;
$color--on-primary-light: black;

$color--secondary: #727272;
$color--on-secondary: white;

$color--secondary-dark: #474747;
$color--on-secondary-dark: white;

$color--secondary-light: #a0a0a0;
$color--on-secondary-light: black;
