// The following tool aws used to pick these colors:
// https://material.io/resources/color/#!/?view.left=0&view.right=0&primary.color=9E9D24&secondary.color=FBC02D

$color--primary-dark: #6c6f00;
$color--on-primary-dark: white;

$color--primary: #9e9d24;
$color--on-primary: black;

$color--primary-light: #d2ce56;
$color--on-primary-light: black;

$color--secondary-dark: #c49000;
$color--on-secondary-dark: black;

$color--secondary: #fbc02d;
$color--on-secondary: black;

$color--secondary-light: #fff263;
$color--on-secondary-light: black;
